# Dependencies
vendor

# Test assets
test

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

roach_clip/cockroach-data/

roach_clip/scripts/safe-dir/

roach_clip/scripts/cert-dir/

roach_clip/certs/

roach_clip/safe-dir/
